<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>БЛОГ</title>
</head>
<body>
    <h1>Эту страницу обработало другое приложение =) 
       <br> Поздравляю, ты продвинулся еще дальше</h1>

        {% for blog in blogs %}
                <h2>{{blog.title }}</h2>
                <p>{{blog.description }}</p>
                <h5>{{blog.date}}</h5>
        {% endfor %}
</body>
</html>