<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <style>
        h1 {
            text-align: center;
        }
        .warning {
            font-size: 55px;
            color: red;
        }
    </style>
</head>
<body>
    <h1>Добро пожаловать на мой сайт <span class="warning">портфолио</span></h1>

    {% for project in projects  %}
        <div class="card">
            <img src="{{project.image.url}}" alt="">
            <div class="title">{{project.title}}</div>
            <div class="title">{{project.description}}</div>
            <a href="{{project.url}}" class="more">Читать подробнее</a>
        </div>
    {% endfor %}
</body>
</html>